<h1>{{title}} </h1>
<div class="main">
    <div class="section">
        <div class="container">
<!--         what is row -->
            <div class="row tim-row">
                <a href="/referrals" target="_blank">Referrals</a>
                <p>You are not yet in the matrix... <a href="/join" target="_blank">clich here to JOIN NOW!</a></p>
            </div>
        </div>
    </div>
</div>