<h2>{{title}}</h2>
<div class="main">
    <div class="section">
        <div class="container">
<!--         what is row -->
            <div class="row tim-row">
    <form method ="POST" action ="/join">
    <div class="form-group">
        <label for="Serial">Serial Id</label>
        <input type="text" class="form-control" 
    id="serial" name ="serial" placeholder="Enter Serial Number" required />
        </div>
        <label for="Pin">Pin</label>
        <input type="password" class="form-control" 
    id="Pin" name ="pin" placeholder="Enter Pin here" required />
    </div><br/>
    <div class="form-group">
        <button type="submit" id="join" class="btn btn-primary">Submit</button> </form>
</div>
</div>
</div>
