    <div class="main">
    <div class="section">
        <div class="container">
<!--         what is row -->
            <div class="row tim-row">
    <h5>{{title}}</h5>
    <form method ="POST" action ="/login">
    <div class="form-group">
        <label for="username">username</label>
        <input type="username" class="form-control" 
    id="username" name ="username" placeholder="Enter username" required />
        </div>
        <label for="Password">Password</label>
        <input type="password" class="form-control" 
    id="Password" name ="password" placeholder="Password" required />
    </div><br/>
    <div class="form-group"> <button type="submit" class="btn 
btn-primary">Submit</button> </form>
</div>
</div>
</div>
