{{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
    
  {{/each}}
{{/if}}

  <div class="main">
    <div class="section">
        <div class="container">
<!--         what is row -->
            <div class="row tim-row">
              <H5>{{title}}</H5>
<form method ="POST" action ="/register">
<div class="form-group">
    <label for="fullname">Full Name</label>
    <input type="text" class="form-control" 
id="fullname" name ="fullname" placeholder="Enter Full Name" required />
    </div>
<div class="form-group">
    <label for="sponsor">Sponsor</label>
    <input type="text" class="form-control" 
id="sponsor" name ="sponsor" value="{{sponsor}}" required/>
</div>
<div class="form-group">
    <label for="username">username</label>
    <input type="text" class="form-control" 
id="username" name ="username" placeholder="Enter username" required />
    </div>
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name ="email" placeholder="Enter email" required />
    <small id="emailHelp" class="form-text text-muted">We'll 
never share your email with anyone else.</small>
  </div>
  <div class="form-group">
  <label for="countrycode">Country Code</label>
  <select name="code" class="form-control" value="Select Country Code" id="code">
    <option></option>
    {{#each country}}
      <option>{{code}}</option>
    {{/each}}
  </select>
</div>
<div class="form-group">
  <label for="phone">Phone Number</label>
  <input type="tel" class="form-control" 
id="phone" name ="phone" placeholder="e.g 8012345678" value="" required />
</div>
  <div class="form-group">
    <label for="Pass1">Password</label>
    <input type="password" class="form-control" 
id="Pass1" name ="pass1" placeholder="Password" required />
  </div>
    <label for="Pass2">Confirm Password</label>
    <input type="password" class="form-control" 
id="Pass2" name ="pass2" placeholder="Password" required />
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" 
id="exampleCheck1" required/>
    <label class="form-check-label" 
for="exampleCheck1">I agree to the term and contition <a href="terms" target="_blank">here</a> </label>
  </div>
  <br>
  <p><b>Wait! Just before you hit the submit button, i want you to understand that this is a referral business. However to make sure you earn without much stress, i have compiled our fast teams so you can choose from that is if you are sure you do not have a fast team. <a href="fastteams" target="_blank">click here to see our fastest teams</a></b></p>
<div class="form-group"> <button type="submit" class="btn btn-primary">Submit</button> </form>
</div>
</div>
</div>